* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid blue;

    font-family: 'Courier New', Courier, monospace;
}

body {

    background-color: azure;
}

p {
    color: black;
    font-size: 20px;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 20px;
}

.outer-container {
    padding: 10px;
}

.top-bar p {
    float: right;
}